  <fieldset>
<legend>Menu</legend>
  <head>       
        <title>Sistema Academico</title>       
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    @if (Request.IsAuthenticated) {
    <text>
        Oi, @User.Identity.Name
       @using (Html.BeginForm("LogOff", "SGAccount", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        }
    </text>
} else {
    <ul dir=rtl>
        <li>@Html.ActionLink("Register", "Register", "SGAccount", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "SGAccount", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
    }
                </div>
                <div class="float-right">
                    <nav>
                        <ul id="menu" dir=ltr>
                        
<table>
    <tr>
        <th>
    
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            </th>
                            <th>
                            <li>@Html.ActionLink("Alunos", "ListarAluno", "Home")</li>
                            </th>
                            <th>
                            <li>@Html.ActionLink("Professores", "ListarProfessor", "Home")</li>
                            </th>
                            <th>
                            <li>@Html.ActionLink("Turmas", "ListarTurma", "Home")</li>
                            </th>
                            <th>
                            <li>@Html.ActionLink("Biblioteca", "ListarMidias", "Home")</li>
                            </th>
                            <th>
                            @if (User.Identity.IsAuthenticated)
                            {
                            <li>@Html.ActionLink("Change Password", "ChangePassword", "SGAccount")</li>
        }
       @if (User.IsInRole("SecurityGuard"))
        {
            <li>@Html.ActionLink("Security Guard", "Index", "Dashboard", new { area = "SecurityGuard" }, null)</li>
        }               
        </th>
                            </tr>
                            </table>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        </fieldset>
  