@model  SistemaAcademico.Foundation.Turma

<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


@{ Html.RenderAction("Menu", "Navegacao"); }

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Turma</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Codigo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Codigo)
            @Html.ValidationMessageFor(model => model.Codigo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nivel)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nivel)
            @Html.ValidationMessageFor(model => model.Nivel)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DataInicio)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DataInicio)
            @Html.ValidationMessageFor(model => model.DataInicio)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DataFim)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DataFim)
            @Html.ValidationMessageFor(model => model.DataFim)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HoraInicio)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HoraInicio)
            @Html.ValidationMessageFor(model => model.HoraInicio)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HoraFim)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HoraFim)
            @Html.ValidationMessageFor(model => model.HoraFim)
        </div>
         <div class="editor-label">
                @Html.LabelFor(model => model.Professor)
            </div>
            <div class="editor-field">
                @Html.DropDownList("Professores")
                @Html.ValidationMessageFor(model => model.Professor)
            </div>
                  <p>
            <input type="submit" value="Salvar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Voltar", "Index")
</div>
