@model  Presentation.WebApp.Models.Comum.ListaItemViewModel<SistemaAcademico.Foundation.Turma>

@{ Html.RenderAction("Menu", "Navegacao"); }

<p>
    @Html.ActionLink("Novo", "Criar")
</p>


   <div>
        @Html.PaginasLinks(Model.InformacaoDePaginacao, x => Url.Action("Index", new { pagina = x, Items = Model.Items }))
    </div>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Items.FirstOrDefault().Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Items.FirstOrDefault().Nivel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Items.FirstOrDefault().DataInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Items.FirstOrDefault().DataFim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Items.FirstOrDefault().HoraInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Items.FirstOrDefault().HoraFim)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Items) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nivel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataFim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoraInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoraFim)
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id=item.ID }) |
            @Html.ActionLink("Detalhes", "Detalhes", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
